<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Material CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/icon-font.css" />
    <title>Welcome My Admin</title>
  </head>
  <body>
    <!-- container box -->

    <div class="container">
      <div class="admin">
        <!-- aside -->
        <aside class="admin__aside">
          <div class="admin__top">
            <div class="admin__top-logo">
              <span>
                <a href="#" class="admin__top-logo--title" alt="logo-name">
                  Gogo Caffee</a
                >
              </span>
            </div>
            <div class="admin__top-close">
              <span class="material-icons-sharp"> close </span>
            </div>
          </div>
          <div class="admin__sidebar u-margin-top-medium">
            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                dashboard
              </span>
              <h3 class="admin__sidebar-header">Dashboard</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                person
              </span>
              <h3 class="admin__sidebar-header">Customer</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                receipt_long
              </span>
              <h3 class="admin__sidebar-header">Orders</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                insights
              </span>
              <h3 class="admin__sidebar-header">Analytics</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                mail_outline
              </span>
              <h3 class="admin__sidebar-header">Message</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                inventory
              </span>
              <h3 class="admin__sidebar-header">Products</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                report
              </span>
              <h3 class="admin__sidebar-header">Reports</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                settings
              </span>
              <h3 class="admin__sidebar-header">Setting</h3>
            </a>

            <a href="#" class="admin__sidebar-link">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                add
              </span>
              <h3 class="admin__sidebar-header">Add Product</h3>
            </a>

            <a href="#" class="admin__sidebar-link u-margin-top-huge">
              <span class="material-icons-sharp admin__sidebar-link--icon">
                logout
              </span>
              <h3 class="admin__sidebar-header">Logout</h3>
            </a>
          </div>
        </aside>
        <!-- end of aside -->
        <section class="section-center"></section>
      </div>
    </div>
  </body>
</html>
