<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/icon-font.css" />
    <link rel="stylesheet" href="../public/css/index.css" />
    <title>Gogo Cafe &mdash; Coffee Lover</title>
  </head>
  <body>
    <main>
      <!-- section footer  -->
      <section class="section-register">
        <div class="register">
          <div class="register__box">
            <div class="register__left">
              <form action="" method="post">
                <h1 class="register__left-h1 u-center-text u-margin-top-small">
                  Welcome to Gogo Coffee!
                </h1>
                <p class="register__left-paragraph u-margin-top-small">
                  Please Login to continue
                </p>

                <!-- left form outer box -->
                <div class="register__left-outer--box">
                  <input
                    type="radio"
                    name="radio-btn"
                    class="register__left-radio"
                    id="radio1"
                  />

                  <input
                    type="radio"
                    name="radio-btn"
                    class="register__left-radio"
                    id="radio2"
                  />

                  <input
                    type="radio"
                    name="radio-btn"
                    class="register__left-radio"
                    id="radio3"
                  />
                  <!-- left form box -->
                  <div class="register__left-box left-box">
                    <!-- first input div -->
                    <div class="register__left-form">
                      <!-- first input div -->
                      <div>
                        <label for="email-id" class="register__left-label">
                          Firstname
                        </label>
                        <div
                          class="register__left-input u-margin-top-verysmall u-margin-bottom-small"
                        >
                          <input
                            spellcheck="false"
                            type="text"
                            class="register__left-input--tag"
                            placeholder="Enter your firstname"
                          />
                        </div>
                      </div>
                      <!-- end of first input div -->
                      <!-- second input div -->
                      <div>
                        <label for="email-id" class="register__left-label">
                          Lastname
                        </label>
                        <div
                          class="register__left-input u-margin-top-verysmall u-margin-bottom-small"
                        >
                          <input
                            spellcheck="false"
                            type="text"
                            class="register__left-input--tag"
                            placeholder="Enter your lastname"
                          />
                        </div>
                      </div>
                      <!-- end of second input div -->
                      <label
                        for="radio1"
                        class="btn-medium u-margin-top-small register__left-btn--one next-one-btn"
                      >
                        <ion-icon name="arrow-redo-outline"></ion-icon>
                        Next
                      </label>
                    </div>
                    <!-- end of first input div -->

                    <!-- second input div -->
                    <div class="register__left-form">
                      <!-- first input div -->
                      <div>
                        <label for="email-id" class="register__left-label">
                          Email
                        </label>
                        <div
                          class="register__left-input u-margin-top-verysmall u-margin-bottom-small"
                        >
                          <input
                            spellcheck="false"
                            type="email"
                            class="register__left-input--tag"
                            placeholder="Enter your email"
                          />
                        </div>
                      </div>
                      <!-- end of first input div -->
                      <!-- second input div -->
                      <div>
                        <label for="email-id" class="register__left-label">
                          Mobile Number
                        </label>
                        <div
                          class="register__left-input u-margin-top-verysmall u-margin-bottom-small"
                        >
                          <input
                            spellcheck="false"
                            type="text"
                            class="register__left-input--tag"
                            placeholder="Enter your mobile number"
                          />
                        </div>
                      </div>
                      <!-- end of second input div -->
                      <label
                        for="radio2"
                        class="btn-medium u-margin-top-small register__left-btn--two next-two-btn"
                      >
                        <ion-icon name="arrow-redo-outline"></ion-icon>
                        Next
                      </label>
                    </div>
                    <!-- end of second input div -->

                    <!-- third input div -->
                    <div class="register__left-form">
                      <!-- first input div -->
                      <div>
                        <label for="email-id" class="register__left-label">
                          Password
                        </label>
                        <div
                          class="register__left-input u-margin-top-verysmall u-margin-bottom-small"
                        >
                          <input
                            spellcheck="false"
                            type="email"
                            class="register__left-input--tag"
                            placeholder="Enter your email"
                          />
                        </div>
                      </div>
                      <!-- end of first input div -->
                      <!-- second input div -->
                      <div>
                        <label for="email-id" class="register__left-label">
                          Confirm Password
                        </label>
                        <div
                          class="register__left-input u-margin-top-verysmall u-margin-bottom-small"
                        >
                          <input
                            spellcheck="false"
                            type="text"
                            class="register__left-input--tag"
                            placeholder="Enter your mobile number"
                          />
                        </div>
                      </div>
                      <!-- end of second input div -->
                      <button
                        class="btn-medium u-margin-top-small register__left-btn--one next-three-btn"
                      >
                        Register
                      </button>
                    </div>
                    <!-- end of third input div -->
                  </div>
                  <!-- end of left form box -->
                </div>
                <!-- left form outer box -->

                <p class="register__left-small--paragraph u-margin-top-small">
                  Hi! visitor if you have account click this
                  <a href="/account/login">Login</a> thank you.
                  <br />
                  back to <a href="/">Homepage</a>.
                </p>
              </form>
            </div>
            <div class="register__right"></div>
          </div>
        </div>
      </section>
      <!-- section footer -->
      <!-- section footer  -->
      <footer class="section-footer">
        <div class="login-footer">
          <p class="login-footer__small--paragraph">
            copyright&copy; 2022 by GogoCaffee
          </p>
        </div>
      </footer>
      <!-- section footer -->
    </main>
  </body>
</html>
