@import "../abstracts/variables";

.admin {
  width: 95%;
  height: 100vh;
  // border: 2px solid #000;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 60% 15%;
  padding: 2rem 2rem;
  gap: 2rem;

  &__aside {
    // border: 2px solid #000;
    height: 100%;
  }

  &__top {
    background: $color-white-1;
    padding: 1rem 2rem;
    &-logo {
      &--title {
        font-size: 2rem;
        font-weight: $semi-bold-weight;
        color: $color-primary;
        text-decoration: none;
      }
    }

    &-close {
      display: none;
    }
  }

  &__sidebar {
    // border: 2px solid #000;
    background-color: $color-white-1;
    display: flex;
    flex-direction: column;
    gap: 0rem;

    &-link {
      color: $color-white-4;
      padding: 1rem 0 1rem 0rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1.2rem;
      position: relative;

      &--icon {
        padding-left: 2rem;
      }
    }

  //  &-link {
  //     background-color: rgba(132, 139, 200, 0.18);
  //     color: #7380ec;
  //   }

  //   &-link:active:before {
  //     content: "";
  //     position: absolute;
  //     width: 6px;
  //     height: 100%;
  //     background-color: #7380ec !important;
  //   }

    &-link-active {
      background-color: rgba(132, 139, 200, 0.18);
      color: #7380ec;
    }

    &-link-active:before {
      content: "";
      position: absolute;
      width: 6px;
      height: 100%;
      background-color: #7380ec !important;
    } 

    &-header {
      font-size: 1.4rem;
      font-weight: $medium-weight;
    }
  }

  &__center {
    // border: 2px solid red;
    width: 100%;
    height: 95vh;
    padding: 2rem 2rem;
    background-color: $color-white-1;
    position: relative;
    display: flex;
    gap: 2rem
  }

  &__register {
    // border: 2px solid red;
    width: 25%;
    height: 15vh;
    background-color: rgba(132, 139, 200, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--btn {
      text-decoration: none;
      color: $color-white-4;
      font-size: 1.2rem;
      font-weight: $medium-weight;
    }
  }

  &__register:hover {
    border: 3px solid rgba(115, 128, 236, 0.8);
  }

  &__register-data {
    // border: 2px solid red;
    width: 95%;
    height: 50vh;
    position: absolute;
    top: 1%;
    background-color: $color-white-1;
    opacity: 0;
    visibility: hidden;
    &--text {
      font-size: $default-font-size;
    }

    &--button {
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }

    &--icons {
      color: rgb(32, 201, 151);
      font-size: 3rem;
    }
  }

  &__table {
    // border: 2px solid $color-white-4;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    padding: 2rem;
    border-collapse: collapse;

    th {
      background-color: rgba(32, 201, 151, 0.8);
    }

    th,
    td {
      height: 3rem;
    }
  }

  &__search {
    // border: 2px solid red;
    width: 25%;
    height: 15vh;
    background-color: rgba(132, 139, 200, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--btn {
      text-decoration: none;
      color: $color-white-4;
      font-size: 1.2rem;
      font-weight: $medium-weight;
    }
  }

  &__search:hover {
    border: 3px solid rgba(115, 128, 236, 0.8);
  }

  &__search-data {
    // border: 2px solid red;
    color: #000;
    width: 95%;
    height: 50vh;
    position: absolute;
    top: 1%;
    background-color: $color-white-1;
    // opacity: 0;
    // visibility: hidden;

    &--table {
      // border: 2px solid $color-white-4;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      margin: auto;
      padding: 2rem;
      border-collapse: collapse;
      opacity: 0;
      visibility: hidden;
      th {
        background-color: rgba(32, 201, 151, 0.8);
      }
  
      th,
      td {
        height: 3rem;
      }
    }

    &--notfound {
      opacity: 0;
    }

    &--text {
      font-size: $default-font-size;
    }

    &--box {
      border: 2px solid rgb(32, 201, 151);
      background-color: rgb(32, 201, 151);
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--input {
      width: 85%;
      height: 3.5rem;
      padding-left: 1rem;
      border: none;
      outline: none;
    }

    &--btn {
      width: 15%;
      height: 100%;
      background-color: transparent;
      border:none;
      outline: none;
      cursor: pointer;
    }

    &--icon {
      font-size: 3rem;
      color: $color-white-1;
    }

    &--button {
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }

    &--icons {
      color: rgb(32, 201, 151);
      font-size: 3rem;
    }
  }

  &__centerAnimation {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    opacity: 0;
    visibility: hidden;
  }

  &__ring {
    position: absolute;
    width:  200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
  }

  @keyframes ring {
    0% {
     transform: rotate(0deg);
     box-shadow: 1px 5px 2px #e65c00;
    }
 
    50% {
     transform: rotate(180deg);
     box-shadow: 1px 5px 2px #18b201;
    }
 
    100% {
     transform: rotate(360deg);
     box-shadow: 1px 5px 2px #0456c8;
    }
 }

 &__ring::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

&__span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text{
  50% {
    color: #000;
  }
}

}
