<!-- aside -->
<aside class="admin__aside">
  <div class="admin__top">
    <div class="admin__top-logo">
      <span>
        <a href="#" class="admin__top-logo--title" alt="logo-name">
          Gogo Caffee</a>
      </span>
    </div>
    <div class="admin__top-close">
      <span class="material-icons-sharp"> close </span>
    </div>
  </div>
  <div class="admin__sidebar u-margin-top-medium">
    <a href="/myadmin/dashboard" class="admin__sidebar-link ">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        dashboard
      </span>
      <h3 class="admin__sidebar-header">Dashboard</h3>
    </a>

    <a href="/myadmin/customer" class="admin__sidebar-link admin__sidebar-link-active">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        person
      </span>
      <h3 class="admin__sidebar-header">Customer</h3>
    </a>

    <a href="/myadmin/orders" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        receipt_long
      </span>
      <h3 class="admin__sidebar-header">Orders</h3>
    </a>

    <a href="/myadmin/analytics" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        insights
      </span>
      <h3 class="admin__sidebar-header">Analytics</h3>
    </a>

    <a href="/myadmin/message" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        mail_outline
      </span>
      <h3 class="admin__sidebar-header">Message</h3>
    </a>

    <a href="/myadmin/products" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        inventory
      </span>
      <h3 class="admin__sidebar-header">Products</h3>
    </a>

    <a href="/myadmin/reports" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        report
      </span>
      <h3 class="admin__sidebar-header">Reports</h3>
    </a>

    <a href="/myadmin/setting" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        settings
      </span>
      <h3 class="admin__sidebar-header">Setting</h3>
    </a>

    <a href="#" class="admin__sidebar-link">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        add
      </span>
      <h3 class="admin__sidebar-header">Add Product</h3>
    </a>

    <a href="#" class="admin__sidebar-link u-margin-top-huge">
      <span class="material-icons-sharp admin__sidebar-link--icon">
        logout
      </span>
      <h3 class="admin__sidebar-header">Logout</h3>
    </a>
  </div>
</aside>