<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../../partials/head") -%>
    <title>admin Customer</title>
</head>

<body>
  <div class="container">
    <!-- admin -->
    <div class="admin">
      <!-- aside customer -->
      <%- include("../../partials/aside-left/aside-left-customer.ejs") -%>
        <!--end of aside customer  -->
        <!-- center customer -->
        <%- include("../../partials/center/center-customer-search-id.ejs") -%>
          <!-- end of center customer -->

    </div>
  </div>


  <script src="../../public/js/search-id.js"></script>
</body>

</html>