<footer class="footer">
  <div class="row">

    <div class="col-1-of-5">
       <div class="footer__box">
          <h2 class="heading-secondary">Gogo Caffee</h2>

          <div class="footer__box-icons u-margin-top-small">
            <div><a href="#" class="footer__box-icons--link"><ion-icon name="logo-instagram" class="footer__box-icons--icon"></ion-icon></a></div>
            <div><a href="#" class="footer__box-icons--link"><ion-icon name="logo-facebook" class="footer__box-icons--icon"></ion-icon></a></div>
            <div><a href="#" class="footer__box-icons--link"><ion-icon name="logo-twitter" class="footer__box-icons--icon"></a></ion-icon></div>
          </div>

          <p class="paragraph-small u-margin-top-small">Copyright © 2022 by Gogo caffee, Inc. All rights reserved</p>
       </div>
    </div>

    <div class="col-1-of-5">
      <div class="footer__box">
        <h3 class="heading-tertiary">Contact Us</h3>

        <p class="paragraph-small u-margin-top-small">B1 L4 Champange St., Brgy. Malamig Binan Laguna</p>
        <p class="paragraph-small ">09995705503<br>nandelizo2@gmail.com</p>
     </div>
    </div>

    <div class="col-1-of-5">
      
      <nav class="footer__navigation">
        <h3 class="heading-tertiary">Menu</h3>
          <ul class="footer__list u-margin-top-small">
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Beans</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Brew</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Aroma</a>
              </li>
          </ul>
      </nav>
    </div>
    <div class="col-1-of-5">
      <nav class="footer__navigation">
        <h3 class="heading-tertiary">Equipment</h3>
          <ul class="footer__list u-margin-top-small">
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Machine</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Tool and parts</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Barista Equipment</a>
              </li>
          </ul>
      </nav>
    </div>
    <div class="col-1-of-5">
      <nav class="footer__navigation">
        <h3 class="heading-tertiary">Cafes</h3>
          <ul class="footer__list u-margin-top-small">
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Arabica</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Robusta</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Black Coffee</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Decaf</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Latte</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Cappuccino</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Coffee Macchiato</a>
              </li>
          </ul>
      </nav>
    </div>
   
  </div>
</footer>