<div class="navigation">
  <!-- navigation header -->
  <header class="navigation__header">
    <div class="navigation__logo-box">
      <button type="button" class="navigation__button" id="toggle-id">
        <ion-icon
          name="reorder-three-outline"
          class="navigation__icon"
          id="toggle-icon-id"
        ></ion-icon>
      </button>

      <span>
        <a href="#" class="navigation__logo" alt="logo-name"> Gogo Caffee </a>
      </span>
    </div>

    <div class="navigation__search-box">
      <div class="navigation__search">
        <input
          spellcheck="false"
          type="text"
          class="navigation__search--input"
          placeholder="...search"
        />
        <button type="button" class="navigation__button" id="search-id">
          <ion-icon
            name="search-outline"
            class="navigation__icon-medium"
          ></ion-icon>
        </button>
      </div>

      <button
        type="button"
        class="navigation__button navigation__button-2"
        id="search-id"
      >
        <ion-icon
          name="search-outline"
          class="navigation__icon-medium"
        ></ion-icon>
      </button>

      <button type="button" class="navigation__button" id="search-id">
        <ion-icon
          name="cart-outline"
          class="navigation__icon-medium"
        ></ion-icon>
      </button>
    </div>
  </header>

  <!-- search form data for tab-port,phone -->
  <div class="navigation__search-data">
    <form action="#">
      <input
        spellcheck="false"
        type="text"
        class="navigation__search-data--input"
        placeholder="...search"
      />
    </form>
  </div>

  <!-- aside navigation nav -->
  <aside class="navigation__nav">
    <div class="navigation__login">
      <a href="/account/login.html" class="navigation__login-link">login</a>
      <button class="navigation__login-cancel">
        <ion-icon
          name="close-outline"
          class="navigation__login-icon"
        ></ion-icon>
      </button>
    </div>
    <ul class="navigation__list">
      <li class="navigation__item">
        <div class="navigation__inner">
          <span class="navigation__span">menu</span>
          <span>
            <ion-icon
              name="chevron-down-outline"
              class="navigation__ul-icon"
            ></ion-icon>
          </span>
        </div>
      </li>
      <li class="navigation__item">
        <div class="navigation__inner">
          <span class="navigation__span">equipment</span>
          <span>
            <ion-icon
              name="chevron-down-outline"
              class="navigation__ul-icon"
            ></ion-icon>
          </span>
        </div>
      </li>
      <li class="navigation__item">
        <div class="navigation__inner">
          <span class="navigation__span">cafes</span>
          <span>
            <ion-icon
              name="chevron-down-outline"
              class="navigation__ul-icon"
            ></ion-icon>
          </span>
        </div>
      </li>
      <li class="navigation__item">
        <div class="navigation__inner">
          <span class="navigation__span">blog</span>
          <span>
            <ion-icon
              name="chevron-down-outline"
              class="navigation__ul-icon"
            ></ion-icon>
          </span>
        </div>
      </li>
      <li class="navigation__item navigation__item--about">
        <div>
          <div class="navigation__inner">
            <span class="navigation__span">about</span>
            <span>
              <ion-icon
                name="chevron-down-outline"
                class="navigation__ul-icon navigation__drop-icon"
              ></ion-icon>
              <ion-icon
                name="remove-outline"
                class="navigation__ul-icon navigation__minus-icon"
              ></ion-icon>
            </span>
          </div>
          <div class="navigation__about">
            <ul class="navigation__about--list">
              <li class="navigation__about--item">
                <a href="#" class="navigation__about--link">History</a>
              </li>
              <li class="navigation__about--item">
                <a href="#" class="navigation__about--link">About us</a>
              </li>
              <li class="navigation__about--item">
                <a href="#" class="navigation__about--link">Contact Us</a>
              </li>
              <li class="navigation__about--item">
                <a href="#" class="navigation__about--link">Founders</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </aside>
</div>
