<section class="section-services">
  <div class="row">
    <div class="services">
      <div class="services__box">
        <div class="services__content">
          <ion-icon name="help-outline" class="services__icon"></ion-icon>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Virtual Barista
          </h3>
          <p class="services__text">
            Got Question on Coffee or Recipe Recommendation?
          </p>
        </div>

        <div class="services__content">
          <ion-icon name="car-outline" class="services__icon"></ion-icon>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Free Shipping
          </h3>
          <p class="services__text">
            for NCR + orders p1000+.Max 5kg*Also ship nation wide
          </p>
        </div>

        <div class="services__content">
          <ion-icon
            name="storefront-outline"
            class="services__icon"
          ></ion-icon>
          <h3 class="heading-tertiary u-margin-bottom-small">Store Hours</h3>
          <p class="services__text">Open Daily 9am - 10pm</p>
        </div>
      </div>   
  </div>
</section>