<section class="section-banner">
  <div class="banner">
    <div class="banner__box">
      <!-- banner- big -->
      <div class="banner__big">
        <!-- banner- radio -->

        <input
          type="radio"
          name="radio-btn"
          class="banner__radio"
          id="radio1"
        />
        <input
          type="radio"
          name="radio-btn"
          class="banner__radio"
          id="radio2"
        />
        <input
          type="radio"
          name="radio-btn"
          class="banner__radio"
          id="radio3"
        />
        <input
          type="radio"
          name="radio-btn"
          class="banner__radio"
          id="radio4"
        />

        <!-- end banner- radio -->

        <!-- row 1 -->
        <div class="banner__row banner__first">
          <div class="row">
            <div class="col-1-of-2 u-margin-top-huge">
              <h1 class="heading-huge u-margin-bottom-medium">
                Gogo Coffee Bag Edition
              </h1>
              <p class="paragraph u-margin-bottom-medium">
                We have a promo coffee bag edition started at sept 1 - 30 2022
                buy 3 coffee bag you will get 1 any of coffee bag we have for
                all our customer and coffee lover buy now.
              </p>
              <a href="#" class="btn">Shop now</a>
            </div>
            <div class="col-1-of-2">
              <div class="banner__bannerimg">
                <img
                  src="./public/gallery/hero/buy1get1.png"
                  alt="buy 1 get 1 promo"
                  class="banner__bannerimg--img"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- end row 1 -->
        <!-- row 2 -->
        <div class="banner__row">
          <div class="row">
            <div class="col-1-of-2 u-margin-top-huge">
              <h1 class="heading-huge u-margin-bottom-medium">
                Coffee Series Cafe
              </h1>
              <p class="paragraph u-margin-bottom-medium">
                Hi. We just launched our subscription coffees subscribe and
                save. Stay at home. We`ll take care of you monthly. Shipping is
                free.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
            <div class="col-1-of-2">
              <div class="banner__bannerimg">
                <img
                  src="./public/gallery/hero/backgroundcoffee.png"
                  alt="buy 1 get 1 promo"
                  class="banner__bannerimg--img"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- end row 2 -->
        <!-- row 3 -->
        <div class="banner__row">
          <div class="row">
            <div class="col-1-of-2 u-margin-top-huge">
              <h1 class="heading-huge u-margin-bottom-medium">
                New Coffee Bag Special Edition
              </h1>
              <p class="paragraph u-margin-bottom-medium">
                Our release of our coffee bag special edition will start at
                first week of october 2022 for our product details.
              </p>
              <a href="#" class="btn">More details</a>
            </div>
            <div class="col-1-of-2">
              <div class="banner__bannerimg">
                <img
                  src="./public/gallery/hero/newcoffee.png"
                  alt="buy 1 get 1 promo"
                  class="banner__bannerimg--img"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- row 3 -->

        <!-- row 4 -->
        <div class="banner__row">
          <div class="row">
            <div class="col-1-of-2 u-margin-top-huge">
              <h1 class="heading-huge u-margin-bottom-medium">
                Best Seller Coffee Machine
              </h1>
              <p class="paragraph u-margin-bottom-medium">
                Our new best seller products new espresso automatic 5 holder
                machine made in spain one of the espresso trusted brand in the
                world.
              </p>
              <a href="#" class="btn">More details</a>
            </div>
            <div class="col-1-of-2">
              <div class="banner__bannerimg">
                <img
                  src="./public/gallery/hero/coffeemachine.png"
                  alt="buy 1 get 1 promo"
                  class="banner__bannerimg--img"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- end row 4 -->

        <!--automatic navigation start-->
        <div class="banner__auto">
          <div class="banner__auto-btn1 banner__auto-div"></div>
          <div class="banner__auto-btn2 banner__auto-div"></div>
          <div class="banner__auto-btn3 banner__auto-div"></div>
          <div class="banner__auto-btn4 banner__auto-div"></div>
        </div>
        <!--automatic navigation end-->
      </div>
      <!-- end banner - big -->
      <!-- navigation manual -->
      <div class="banner__manual">
        <label for="radio1" class="banner__manual-btn"></label>
        <label for="radio2" class="banner__manual-btn"></label>
        <label for="radio3" class="banner__manual-btn"></label>
        <label for="radio4" class="banner__manual-btn"></label>
      </div>
      <!-- end navigation manual -->
    </div>
    <!-- end banner - box -->
  </div>
</section>
