<section class="section-item">
  <!-- first product row -->
  <div class="row">
    <!-- <button class="product__button product__button-left"><ion-icon name="chevron-back-outline" class="product__button-icon"></ion-icon></button>
    <button class="product__button product__button-right"><ion-icon name="chevron-forward-outline" class="product__button-icon"></ion-icon></button> -->
    <div class="item">
      <div class="item__container">
        <!-- first col -->
        <div class="col-1-of-5">
          <div class="item__equipment">
            <div class="item__inner">
              <div class="item__one">
                <div class="item__one-box">
                  <p class="item__one-paragraph--title">
                    Brewer,Filter & Other Equipment
                  </p>
                  <h5 class="item__one-header">Coffee Gear</h5>
                  <a href="#" class="item__one-anchor">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of first col -->
        <!-- second col -->
        <div class="col-1-of-5">
          <div class="item__equipment">
            <div class="item__two">
              <div class="item__box">
                <img
                  src="/public/gallery/hero/item1.png"
                  class="item__two-img2"
                  alt="item 2"
                />
                <div class="item__box-inner">
                  <p class="item__one-paragraph--title">
                    Top Sale: Espresso Coffee Maker
                  </p>

                  <p class="item__one-paragraph--price">&#8369; 3500.00</p>
                </div>
                <div class="item__button-box">
                  <button type="button" class="item__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of second col -->
        <!-- third col -->
        <div class="col-1-of-5">
          <div class="item__equipment">
            <div class="item__three">
              <div class="item__box">
                <img
                  src="/public/gallery/hero/aeropress.png"
                  class="item__two-img2"
                  alt="item 2"
                />
                <div class="item__box-inner">
                  <p class="item__one-paragraph--title">Aero Barista Set</p>

                  <p class="item__one-paragraph--price">&#8369; 1000.00</p>
                </div>
                <div class="item__button-box">
                  <button type="button" class="item__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of third col -->
        <!-- fourth col -->
        <div class="col-1-of-5">
          <div class="item__equipment">
            <div class="item__four">
              <div class="item__box">
                <img
                  src="/public/gallery/hero/coffeemug.png"
                  class="item__two-img2"
                  alt="item 2"
                />
                <div class="item__box-inner">
                  <p class="item__one-paragraph--title">
                    La Marzoco Coffee Mug 2x
                  </p>

                  <p class="item__one-paragraph--price">&#8369; 300.00</p>
                </div>
                <div class="item__button-box">
                  <button type="button" class="item__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of fourth col -->
        <!-- fifth col -->
        <div class="col-1-of-5">
          <div class="item__equipment">
            <div class="item__five">
              <div class="item__box">
                <img
                  src="/public/gallery/hero/coffeecup.png"
                  class="item__two-img2"
                  alt="item 2"
                />
                <div class="item__box-inner">
                  <p class="item__one-paragraph--title">1 set of Coffee Mug</p>

                  <p class="item__one-paragraph--price">&#8369; 300.00</p>
                </div>
                <div class="item__button-box">
                  <button type="button" class="item__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of fifth col -->
        </div>
      </div>
    </div>
  </div>
</section>
