<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/icon-font.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <title>Gogo Cafe &mdash; Coffee Lover</title>
  </head>
  <body>
    <main>
      <!-- section login  -->
      <section class="section-login">
        <div class="login">
          <div class="login__box">
            <div class="login__left">
              <form action="" method="post">
                <h1 class="login__left-h1 u-center-text u-margin-top-small">
                  Welcome to Gogo Coffee!
                </h1>
                <p class="login__left-paragraph u-margin-top-small">
                  Please Login to continue
                </p>
                <div class="login__left-form">
                  <label for="email-id" class="login__left-label"
                    >Email id</label
                  >
                  <div
                    class="login__left-input u-margin-top-verysmall u-margin-bottom-small"
                  >
                    <input
                      spellcheck="false"
                      type="text"
                      class="login__left-input--tag"
                      placeholder="Enter Your Email Id"
                    />
                  </div>
                </div>
                <div
                  class="login__left-form u-margin-top-verysmall u-margin-bottom-medium"
                >
                  <label for="password-id" class="login__left-label"
                    >Password</label
                  >
                  <div class="login__left-input u-margin-top-verysmall">
                    <input
                      spellcheck="false"
                      type="password"
                      class="login__left-input--tag"
                      placeholder="Enter Your Password"
                    />
                  </div>
                </div>
                <button class="btn-medium u-margin-bottom-medium">Login</button>
                <p class="login__left-small--paragraph">
                  Hi! visitor if you have no account click this
                  <a href="../account/registration.html">Register</a> thank you.
                  <br />
                  back to <a href="../index.html">Homepage</a>.
                </p>
              </form>
            </div>
            <div class="login__right"></div>
          </div>
        </div>
      </section>
      <!-- section login end -->
      <!-- section footer  -->
      <footer class="section-footer">
        <div class="login-footer">
          <p class="login-footer__small--paragraph">
            copyright&copy; 2022 by GogoCaffee
          </p>
        </div>
      </footer>
      <!-- section footer -->
    </main>
  </body>
</html>
