.showcase {
  // border: 2px solid #fff;
  width: 88%;
  height: 150vh;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 57%;
  column-gap: 2rem;

  @include respond(big-phone) {
    // border: 2px solid #fff;
    width: 90%;
    height: 200vh;
    display: block;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: moveInUp;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    &-paragraph {
      text-align: center;
    }
  }

  &__left {
    // border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;

    @include respond(big-phone) {
      // border: 2px solid #fff;
      margin: auto;
      display: block;
      width: 100%;
    }
    &-row {
      // border: 2px solid #fff;
      width: 100%;
      height: 50%;
      cursor: pointer;

      @include respond(big-phone) {
        height: 35vh;
        margin-bottom: 5rem;
      }
    }

    &-row1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(100, 96, 93, 0.5),
          rgba(56, 54, 52, 0.5)
        ),
        url("../../public/gallery/hero/showcase1copy.jpg");
      background-size: cover;
      background-position: center;
    }

    &-row2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(100, 96, 93, 0.5),
          rgba(56, 54, 52, 0.5)
        ),
        url("../../public/gallery/hero/hero.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  &__right {
    // border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respond(big-phone) {
      // border: 2px solid #fff;
      margin: auto;
      display: block;
      width: 100%;
    }

    &-row {
      // border: 2px solid #fff;
      width: 100%;
      height: 50%;
      cursor: pointer;

      @include respond(big-phone) {
        height: 35vh;
        margin-bottom: 5rem;
      }
    }

    &-row1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(100, 96, 93, 0.5),
          rgba(56, 54, 52, 0.5)
        ),
        url("../../public/gallery/hero/rigth-showcase1.jpg");
      background-size: cover;
      background-position: center;
    }

    &-row2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(100, 96, 93, 0.5),
          rgba(56, 54, 52, 0.5)
        ),
        url("../../public/gallery/hero/showcase1.jpg");
      background-size: cover;
      background-position: center;
    }

    &-row3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(100, 96, 93, 0.5),
          rgba(56, 54, 52, 0.5)
        ),
        url("../../public/gallery/hero/right-showcase3.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
