<header class="header">
  <div class="header__logo-box">
    <span
      ><a href="#" class="header__logo-box--headingLink" alt="logo-name"
        >Gogo Caffee</a
      ></span
    >
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <div class="header__nav-inner">menu</div>
      </li>
      <li class="header__nav-item">
        <div class="header__nav-inner">equipment</div>
      </li>
      <li class="header__nav-item">
        <div class="header__nav-inner">cafes</div>
      </li>
      <li class="header__nav-item">
        <div class="header__nav-inner">blog</div>
      </li>
      <li class="header__nav-item header__nav-item--about">
        <div class="header__nav-inner">
          about
          <div class="header__nav-about">
            <ul class="header__nav-about--list">
              <li
                class="header__nav-about--item"
                style="border-top: 3px solid #e67615"
              >
                <a href="#" class="header__nav-about--link">History</a>
              </li>
              <li class="header__nav-about--item">
                <a href="#" class="header__nav-about--link">About us</a>
              </li>
              <li class="header__nav-about--item">
                <a href="#" class="header__nav-about--link">Contact Us</a>
              </li>
              <li class="header__nav-about--item">
                <a href="#" class="header__nav-about--link">Founders</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <div class="header__icon">
    <div class="header__icon-search">
      <ion-icon name="search-outline" class="header__icon-item"></ion-icon>
    </div>
    <div class="header__icon-cart">
      <ion-icon name="cart-outline" class="header__icon-item"></ion-icon>
    </div>
    <div class="header__icon-user">
      <ion-icon name="person-outline" class="header__icon-item"></ion-icon>
      <div class="header__icon-user--container">
        <ul class="header__icon-user--list">
          <li class="header__icon-user--item">
            <a href="/account/login" class="header__icon-user--link">
              login form
            </a>
          </li>
          <li class="header__icon-user--item">
            <a href="/account/registration" class="header__icon-user--link">
              registration form
            </a>
          </li>
        </ul>
        toggle-id
      </div>
    </div>
  </div>
</header>
