<section class="section-product">
  <!-- first product row -->
  <div class="row">
    <!-- <button class="product__button product__button-left"><ion-icon name="chevron-back-outline" class="product__button-icon"></ion-icon></button>
    <button class="product__button product__button-right"><ion-icon name="chevron-forward-outline" class="product__button-icon"></ion-icon></button> -->
    <!-- first col -->
    <div class="product">
      <div class="product__container">
        <div class="col-1-of-5">
          <div class="product__item">
            <div class="product__inner">
              <div class="product__one">
                <div class="product__one-box">
                  <p class="product__one-paragraph--title">
                    Whole Beans & Single Serve
                  </p>
                  <h5 class="product__one-header">Coffee for Home</h5>
                  <a href="#" class="product__one-anchor">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of first col -->
        <!-- second col -->
        <div class="col-1-of-5">
          <div class="product__item">
            <div class="product__two">
              <div class="product__box">
                <img
                  src="/public/gallery/hero/coffeebeen2copy.png"
                  class="product__two-img2"
                  alt="product 2"
                />
                <div class="product__box-inner">
                  <p class="product__one-paragraph--title">
                    Subscription: Premium Ticket 250g
                  </p>

                  <p class="product__one-paragraph--price">&#8369; 1200.00</p>
                </div>
                <div class="product__button-box">
                  <button type="button" class="product__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of second col -->
        <!-- third col -->
        <div class="col-1-of-5">
          <div class="product__item">
            <div class="product__three">
              <div class="product__box">
                <img
                  src="/public/gallery/hero/product3copy.png"
                  class="product__two-img2"
                  alt="product 2"
                />
                <div class="product__box-inner">
                  <p class="product__one-paragraph--title">
                    Big Sale for Regular Customer 30% OFF
                  </p>

                  <p class="product__one-paragraph--price">&#8369; 800.00</p>
                </div>
                <div class="product__button-box">
                  <button type="button" class="product__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of third col -->
        <!-- fourth col -->
        <div class="col-1-of-5">
          <div class="product__item">
            <div class="product__four">
              <div class="product__box">
                <img
                  src="/public/gallery/hero/product2copy.png"
                  class="product__two-img2"
                  alt="product 2"
                />
                <div class="product__box-inner">
                  <p class="product__one-paragraph--title">
                    Best Seller: Tanzania Peaberry Coffee
                  </p>

                  <p class="product__one-paragraph--price">&#8369; 3000.00</p>
                </div>
                <div class="product__button-box">
                  <button type="button" class="product__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of fourth col -->
        <!-- fifth col -->
        <div class="col-1-of-5">
          <div class="product__item">
            <div class="product__five">
              <div class="product__box">
                <img
                  src="/public/gallery/hero/product4copy.png"
                  class="product__two-img2"
                  alt="product 2"
                />
                <div class="product__box-inner">
                  <p class="product__one-paragraph--title">
                    3 Coffee Tea Bags: Hawaii Kona Coffee
                  </p>

                  <p class="product__one-paragraph--price">&#8369; 150.00</p>
                </div>
                <div class="product__button-box">
                  <button type="button" class="product__button-box--btn">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of fifth col -->
        </div>
      </div>
    </div>
  </div>
</section>
