<section class="section-subscribe">
  <div class="subscribe">
    <div class="subscribe__box">
      <h2 class="heading-tertiary">Subscribes</h2>
      <p class="paragraph">Gogocaffee to have always update to us</p>
    </div>
    <div class="subscribe__cta-box">
      <input
        type="text"
        class="subscribe__cta-box-input-tag"
        placeholder="Type your email address"
      />
      <button class="subscribe__cta-box-button-tag">Subscribe</button>
    </div>
  </div>
</section>
