<section class="section-showcase">
  <div class="showcase u-margin-top-medium">
    <div class="showcase__left">
      <div class="showcase__left-row showcase__left-row1">
        <div class="showcase__box">
          <h2 class="heading-secondary u-margin-top-medium">We Are Roasting</h2>
          <p class="paragraph showcase__box-paragraph u-margin-top-small">
            Every week, we roast coffee fresh. As you spend time at home,
            nothing is as comforting as a good cup of coffeeto keep you company
          </p>

          <a href="#" class="btn-small u-margin-top-verysmall">Lear More</a>
        </div>
      </div>
      <div class="showcase__left-row showcase__left-row2">
        <div class="showcase__box">
          <h2 class="heading-secondary u-margin-top-medium">
            Brew Better At Home
          </h2>
          <p class="paragraph showcase__box-paragraph u-margin-top-small">
            With our barista-made brew guides
          </p>

          <a href="#" class="btn-small u-margin-top-verysmall">Lear More</a>
        </div>
      </div>
    </div>
    <div class="showcase__right">
      <div class="showcase__right-row showcase__right-row1">
        <div class="showcase__box">
          <h2 class="heading-secondary u-margin-top-medium">
            Level Up Your Coffee Time
          </h2>
          <p class="paragraph showcase__box-paragraph u-margin-top-small">
            Check out our selection of coffee brewers and gear.
          </p>

          <a href="#" class="btn-small u-margin-top-verysmall">Shop now</a>
        </div>
      </div>
      <div class="showcase__right-row showcase__right-row2">
        <div class="showcase__box">
          <h2 class="heading-secondary u-margin-top-medium">Social Matters</h2>
          <p class="paragraph showcase__box-paragraph u-margin-top-small">
            Giving you a recommendation and shout to our youtube gogocaffee
          </p>

          <a href="#" class="btn-small u-margin-top-verysmall">Social Media</a>
        </div>
      </div>
      <div class="showcase__right-row showcase__right-row3">
        <div class="showcase__box">
          <h2 class="heading-secondary u-margin-top-medium">Find Us</h2>
          <p class="paragraph showcase__box-paragraph u-margin-top-small">
            623 Harrison St., 2nd Floor, San Francisco, CA 94107
          </p>

          <a href="#" class="btn-small u-margin-top-verysmall">Our Location</a>
        </div>
      </div>
    </div>
  </div>
</section>
