/*   COLOR   */
$color-primary: #110b0b;
$color-secondary: #1b1a1a;
$color-tertiary: #111010;
$color-quarternary: #e67615;
$color-quinary: #e67e22;
$color-senary: #45260a;

$color-white-1: #fff;
$color-white-2: #f8f9fa;
$color-white-3: #ced4da;

/*   FONT - SIZE  */
$verysmall-font-size: 1.2rem;
$small-font-size: 1.6rem;
$default-font-size: 2rem;
$mid-font-size: 2.6rem;
$large-font-size: 3.6rem;
$huge-font-size: 4.6rem;

/*   FONT - WEIGHT  */
$light-weight: 300;
$default-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;
$huge-weight: 900;

/*    GRID    */
$grid-full-width: 88%;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-2: 8rem;

/*   CONTAINER - HEIGHT */
$header-height: 6vh;
