<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head") -%>
    <title>admin Products</title>
</head>

<body>
  <div class="container">
    <!-- admin -->
    <div class="admin">
      <!-- aside dashboard -->
      <%- include("../partials/aside-left/aside-left-products.ejs") -%>
        <!--end of aside dashboard  -->
    </div>
  </div>
</body>

</html>